In [7]:
import pandas as pd 
import random
keys = ['A', 'B', 'C', 'A','A','B','C','D']
values = [random.randint(0,20) for key in keys]
df = pd.DataFrame({'keys':keys, 'values':values})

In [8]:
df

  keys  values
0    A      16
1    B      18
2    C      11
3    A       1
4    A       1
5    B      10
6    C       8
7    D       3

In [11]:
df.groupby(by=['keys']).sum()

      values
keys
A         18
B         28
C         19
D          3

In [12]:
df.groupby('keys').sum()

      values
keys
A         18
B         28
C         19
D          3

In [13]:
import numpy as np
# 可以执行numpy的计算操作
df.groupby('keys').aggregate(np.sum)

      values
keys
A         18
B         28
C         19
D          3

In [14]:
import pandas as pd 
df = pd.read_csv('titanic_train.csv')

In [28]:
df.groupby('Sex').mean().round(2)

        PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
Sex
female       431.03      0.74    2.16  27.92   0.69   0.65  44.48
male         454.15      0.19    2.39  30.73   0.43   0.24  25.52

In [34]:
df.groupby('Cabin').mean().round(2).head()

       PassengerId  Survived  Pclass   Age  SibSp  Parch   Fare
Cabin
A10          584.0       0.0     1.0  36.0    0.0    0.0  40.12
A14          476.0       0.0     1.0   NaN    0.0    0.0  52.00
A16          557.0       1.0     1.0  48.0    1.0    0.0  39.60
A19          285.0       0.0     1.0   NaN    0.0    0.0  26.00
A20          600.0       1.0     1.0  49.0    1.0    0.0  56.93