### 数值运算操作

In [7]:
import pandas as pd 
data = [[1, 2, 3], [4,5,6]]
index = ['a', 'b']
columns = ['A', 'B', 'C']
df = pd.DataFrame(data=data, index=index, columns=columns)

df

   A  B  C
a  1  2  3
b  4  5  6

In [11]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [12]:
# 按照列求和
df.sum()

A    5
B    7
C    9
dtype: int64

In [13]:
# 按照行求和
df.sum(axis=1)

a     6
b    15
dtype: int64

In [14]:
df.sum(axis='columns')

a     6
b    15
dtype: int64

In [15]:
df.sum(axis='index')

A    5
B    7
C    9
dtype: int64

In [16]:
df.mean()

A    2.5
B    3.5
C    4.5
dtype: float64

In [17]:
df.mean(axis='columns')

a    2.0
b    5.0
dtype: float64

In [18]:
df.median()

A    2.5
B    3.5
C    4.5
dtype: float64

### 二元统计
统计特征和特征之间的关系

In [5]:
import pandas as pd 
df = pd.read_csv('titanic_train.csv')

In [7]:
# 协方差
df.cov()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,66231.000000,-0.626966,-7.561798,138.696504,-16.325843,-0.342697,161.883369
Survived,-0.626966,0.236772,-0.137703,-0.551296,-0.018954,0.032017,6.221787
Pclass,-7.561798,-0.137703,0.699015,-4.496004,0.076599,0.012429,-22.830196
Age,138.696504,-0.551296,-4.496004,211.019125,-4.163334,-2.344191,73.849030
SibSp,-16.325843,-0.018954,0.076599,-4.163334,1.216043,0.368739,8.748734
Parch,-0.342697,0.032017,0.012429,-2.344191,0.368739,0.649728,8.661052
Fare,161.883369,6.221787,-22.830196,73.849030,8.748734,8.661052,2469.436846

In [8]:
# 相关系数
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [22]:
# value counts
df.Age.value_counts(ascending=False, bins=5)
# bins用于分组

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: Age, dtype: int64

In [23]:
df.Age.count() # 统计不为零的数据

714

In [25]:
# pandas操作
help(pd.value_counts)

Help on function value_counts in module pandas.core.algorithms:

value_counts(values, sort=True, ascending=False, normalize=False, bins=None, dropna=True)
    Compute a histogram of the counts of non-null values.

    Parameters
    ----------
    values : ndarray (1-d)
    sort : boolean, default True
        Sort by values
    ascending : boolean, default False
        Sort in ascending order
    normalize: boolean, default False
        If True then compute a relative histogram
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        convenience for pd.cut, only works with numeric data
    dropna : boolean, default True
        Don't include counts of NaN

    Returns
    -------
    value_counts : Series