### 1. 问题定义

AirBnb是一家短租公寓平台。在房东出租房源的时候，面临着一个问题就是，如何决定自己房源的价格。房间的价格应该跟市场符合，我们的策略是
+ 找到类似的房源
+ 计算类似房源的平均值
+ 使用该平均值作为出租价格

从已有数据中发展pattern, 然后做出预测： 机器学习。

### 2.读取数据库

In [1]:
import pandas as pd 
dc_listings = pd.read_csv('dc_airbnb.csv')
dc_listings.head()

  host_response_rate host_acceptance_rate  ...  zipcode  state
0                92%                  91%  ...    20003     DC
1                90%                 100%  ...    20003     DC
2                90%                 100%  ...    20782     MD
3               100%                  NaN  ...    20024     DC
4                92%                  67%  ...    20910     MD

[5 rows x 19 columns]

### 3. KNN 
需要明确2件事情：
1. 相似度指标
2. 如何选择K值

### 4. Euclidean Distance
通过计算
![avatar](https://s3.amazonaws.com/dq-content/euclidean_distance_five_features.png)

### 5. 计算最近距离

In [8]:
import numpy as np 
our_acc_value = 3 
first_accommodates = dc_listings['accommodates'][0]

first_distance = np.abs(first_accommodates - our_acc_value)

first_distance

1

In [10]:
dc_listings['distance'] = dc_listings['accommodates'].map(lambda x: np.abs(x - 3))

dc_listings.distance.value_counts()

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

### 6. 随机处理、排序

In [12]:
dc_listings[dc_listings.distance == 0]['accommodates'].head()

26    3
34    3
36    3
40    3
44    3
Name: accommodates, dtype: int64

In [19]:
np.random.seed(1)

dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

dc_listings = dc_listings.sort_values('distance')

def clean_price(x):
    x = x.replace('$', "").replace(',', '')
    return float(x)

dc_listings.price = dc_listings.price.map(lambda x: clean_price(x))

In [21]:
dc_listings.price.head().mean()

156.6

In [25]:
dc_listings = pd.read_csv('dc_airbnb.csv')
dc_listings.price = dc_listings.price.str.replace('$', '').str.replace(',', '').astype(float)

dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]


def make_prediction(new_listing):
    dc_listings['distance'] = dc_listings.accommodates.map(lambda x: np.abs(x-new_listing))
    temp_df = dc_listings.sort_values('distance')
    new_prices = temp_df[temp_df.distance == 0].price.mean().round(2)
    return new_prices

In [31]:
make_prediction(6)

255.36

In [32]:
make_prediction(3)

146.17