In [4]:
import pandas as pd 
from datetime import datetime

In [7]:
dt = datetime.now()

In [8]:
dt

datetime.datetime(2019, 6, 2, 18, 32, 49, 328580)

In [9]:
dt.year

2019

In [12]:
ts = pd.Timestamp('2018-02-01')
ts

Timestamp('2018-02-01 00:00:00')

In [15]:
ts.month

2

In [16]:
# timedelta 
ts + pd.Timedelta('5 days')

Timestamp('2018-02-06 00:00:00')

In [17]:
pd.to_datetime('24/05/2016')

Timestamp('2016-05-24 00:00:00')

In [19]:
import pymysql

pymysql.install_as_MySQLdb()
import pandas as pd 
from sqlalchemy import create_engine
sqlalchemy_uri = "mysql://root:mysql@localhost:3306/dataview"
engine = create_engine(sqlalchemy_uri)
sql = "select * from res_manager_guanbao_business"
df = pd.read_sql_query(sql, engine)

In [29]:
# 将`字符串`转化成datetime类型之后，既可以调用里面的month, year , day等的方法 
pd.to_datetime(df.systime).head()

0   2019-04-01
1   2019-04-01
2   2019-04-01
3   2019-04-01
4   2019-04-01
Name: systime, dtype: datetime64[ns]

In [35]:
df.systime.dt.year
df.systime.dt.month
df.systime.dt.day.unique()
df.systime.dt.weekday.unique()

array([0, 1, 2, 3, 4, 5, 6])

In [38]:
# 构建一个时间序列
pd.Series(pd.date_range(start='2017-12-01', periods=10, freq='12H'))

0   2017-12-01 00:00:00
1   2017-12-01 12:00:00
2   2017-12-02 00:00:00
3   2017-12-02 12:00:00
4   2017-12-03 00:00:00
5   2017-12-03 12:00:00
6   2017-12-04 00:00:00
7   2017-12-04 12:00:00
8   2017-12-05 00:00:00
9   2017-12-05 12:00:00
dtype: datetime64[ns]

In [39]:
# 也可以在读取数据的时候就解析时间
df = pd.read_sql_query(sql, engine, parse_dates=True)

In [48]:
df.systime = pd.to_datetime(df.systime)

In [51]:
df.systime.dtype

dtype('<M8[ns]')